*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main{
    background-image: url('images/bgpj.png');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px 0 80px 0;
}

.menu{
    display: flex;
    width: 100%;
}

.logo-menu{
    width: 50%;
}

.logo-menu img{
    height: 90px;
}

.items-menu{
    margin-top: 20px;
    width: 50%;
    text-align: right;
}

.items-menu a{
    font-weight: bold;
    color: rgb(0, 69, 25);
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.items-menu a:hover,
.items-menu-mobile a:hover{
    border-bottom: 2px solid rgb(0, 69, 25);
}

.items-menu a.contact-btn,
.items-menu-mobile a.contact-btn{
    color: white;
    background-color: rgb(0, 69, 25);
    padding: 10px 10px;
    border-radius: 10px;
}

.items-menu a.contact-btn:hover{
    border: 0;
}

.mockup{
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: rgb(0, 69, 25) 5px 0 10px;
    padding-top: 100px;
}

.mockup h1{
    font-size: 50px;
}

.mockup p{
    font-size: 30px;
}

.text{
    font-size: 50px;
    margin-top: 70px;
}


section.tecnologias{
    padding: 100px 0;
}

section.tecnologias img{
    width: calc(100%/6);
}

section.porque-nos{
    background-image: url('images/bgdif.png');
    background-position: center;
    background-size: cover;
    min-height: 550px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 40px 0;
}

section.porque-nos > .center > h2{
    font-size: 64px;
    text-align: center;
    color: white;
    width: 100%;
    text-shadow: 
               -1px -1px 0px rgb(0, 69, 25), 
               -1px 1px 0px rgb(0, 69, 25),                    
                1px -1px 0px rgb(0, 69, 25),                  
                1px 0px 0px rgb(0, 69, 25);
}

section.porque-nos > .center > p{
    font-size: 25px;
    text-align: center;
    color: white;
    width: 100%;
    text-shadow: 
               -1px -1px 0px rgb(0, 69, 25), 
               -1px 1px 0px rgb(0, 69, 25),                    
                1px -1px 0px rgb(0, 69, 25),                  
                1px 0px 0px rgb(0, 69, 25);
}

.diferenciais{
    display: flex;
    min-height: 200px;
    margin-top: 50px;
}

.box-diferenciais{
    box-shadow: 0px 20px 40px #2426721c;
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

.box-diferenciais img{
    width: 33%;  
}

.box-diferenciais h3{
    font-size: 20px;
    margin: 20px 0;
}

.box-diferenciais p{
    font-size: 13px;
    color: rgb(0, 69, 25);
    margin-bottom: 20px;
}

section.cta{
    background-image: url('images/banner.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px 10px;
    min-height: 200px;
    text-align: center;
    color: white;
}

section.cta h2{
    font-size: 40px;
}

section.cta h2,
section.cta h4{
    font-weight: normal;
    margin: 10px 0;
}

section.cta a{
    display: inline-block;
    padding: 10px 10px;
    font-weight: bold;
    background: rgb(185, 1, 1);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    
}

section.beneficios{
    padding: 50px 20px;
}

.lista-beneficios{
    width: 50%;
}

.lista-beneficios h2{
    text-align: center;
    font-size: 30px;
}

.lista-beneficios img{
    display: inline-block;
    width: 50px;
}

.lista-beneficios p{
    vertical-align: middle;
    font-size: 20px;
    margin-top: 25px;
}

.lista-beneficios span{
    display: inline-block;
    width: calc(100% - 70px);
}

.img-beneficios{
    width: 50%;
}

.img-beneficios img{
    max-width: 100%;
    border-radius: 10px;
}

section.projetos{
    background-color: #b0f8ce;
    padding: 40px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
}

section.projetos h1{
    text-align: center;
    font-size: 50px;
}

.container-slider{
    overflow: hidden;
}

.container-slider-single{
    float: left;
    background-color: white;
    padding: 40px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    min-height: 350px;
    margin-bottom: 40px;
}

.container-slider-single img{
   max-width: 200px;
   max-height: 140px;
}

.container-slider-single a{
    text-decoration: none;
    color: black;
}

.container-slider h3,
.container-slider p{
    margin-top: 20px;
    
}


.slick-slide{
    margin-left: 27px;
}

/*the parent*/
.slick-list{
    margin-left: -27px;
}

/****SLICK SLIDER****/

.slick-dotted ul important{
    display: block;
	list-style-type: none;
	position: relative;
	top: 30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: grey;
	border-width: 0;
	background: grey;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: rgb(0, 69, 25);
	color: rgb(0, 69, 25);
}

.slick-slide:focus { 
    outline: none; 
}

footer{
    background-color: rgb(1, 146, 54);
    color: white;
    margin-top: 20px;
    padding: 10px 0;
    align-items: center;
}

.text-footer{
    margin-top: 10px;
    width: 40%;
    text-align: left;
}

.footer-menu{
    margin-top: -1px;
    width: 60%;
    text-align: right;
}

.items-menu-mobile{
    display: none;
    width: 50%;
    text-align: right;
    margin-top: 25px;
}

.items-menu-mobile i{
    color:rgb(0, 69, 25);
    font-size: 23px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .diferenciais{
        flex-wrap: wrap;
    }

    .box-diferenciais{
        width: 100%;
        background-color: white;
        border-radius: 30px;
        text-align: center;
        margin-top: 10px;
    }

    section.tecnologias{
        text-align: center;
    }

    section.tecnologias img{
        margin-top: 15px;
        margin-left: 25%;
        width: 70%;
        max-width: 200px;
    }

    .lista-beneficios{
        width: 100%;
    }

    .img-beneficios{
        width: 100%;
        margin-top: 20px;
    }

    .footer-menu{
        margin-top: 15px;
    }

    .items-menu-mobile{
        display: block;
        margin-right: 10px;
    }

    .menu-mobile{
        opacity: 0;
        transition: 1s;
        position: absolute;
        left: 0;
        top: 112px;
        width: 100%;
        padding: 20px 0;
        background-color: white;
        text-align: center;
    }

    .menu-mobile a{
        text-align: center;
        display: block;
        margin: 10px 0;
        color: rgb(0, 69, 25);
        text-decoration: none;
        font-weight: bold;
    }

    .show{
        opacity: 1;
    }

    .hide{
        opacity: 0;
    }

    section.main .items-menu{
        display: none;
    }
}   